.author
    header
        img
        h2.title Marco Ledezma Cordero
        p Lorem ipsum dolor sit amet.Suscipit obcaecati nisi voluptatum veniam.
    .desc
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti ducimus sed totam vero! Natus culpa impedit ad tempora architecto repudiandae incidunt voluptatem, delectus autem.
    .media
        img(src="img/facebook.png", alt="Facebook logo")
        img(src="img/twitter.png", alt="Twitter Logo")
        img(src="img/linkedin.png", alt="Linked In Logo")