.author.container
    header
        img.circle(src="img/avatar.jpg")
        .info
            h2.title Marco Ledezma Cordero
            p marcoledezmacordero09@gmail.com
    .desc
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias corrupti ducimus sed totam vero! Natus culpa impedit ad tempora architecto repudiandae incidunt voluptatem, delectus autem.
    .media.col-1of2
        img.col-1of3(src="img/facebook.png", alt="Facebook logo")
        img.col-1of3(src="img/twitter.png", alt="Twitter Logo")
        img.col-1of3(src="img/linkedin.png", alt="Linked In Logo")