head
    title Healty Garden
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Alegreya:700|Comfortaa:300,400,700", rel="stylesheet")