doctype html5
html
    include ./template/head.pug
    body
        header
            include ./template/menu.pug
        main
            include ./template/post.pug
            include ./template/related.pug
            include ./template/author.pug
        include ./template/footer.pug