doctype html5
html
    include ./template/head.pug
    body
        .opacity.hidden
        header
            include ./template/sm-menu.pug
                .hidden#menu.main-menu
                    include ./template/bg-menu.pug
        main
            include ./template/post.pug
            include ./template/related.pug
            include ./template/author.pug
        include ./template/footer.pug
        script(src="js/main.js")