img.circle {
    border-radius: 50%;
    overflow: hidden;
    width: 80%;
    
    @media screen and (min-width: 1350px) {
        width: 45%;
    }
}

.author {
    margin-bottom: 25px;
    text-align: center;
    
    img {
        vertical-align: top;
    }

    .info {
        margin-bottom: 25px;
        padding-left: 5%;

        p {
            font-size: 14px;
        }
    }

    .desc {
        margin-bottom: 15px;
    }

    .media img {
        cursor: pointer;
        
        @media screen and (min-width: 1350px) {
            width: 60px;
        }
    }

    @media screen and (min-width: 600px) {
        display: block;
        margin: 0 auto 25px;
        width: 75%;
    }

    @media screen and (min-width: 920px) {
        width: 45%;
    }

    @media screen and (min-width: 1500px) {
        width: 35%;
    }
}