.sm-menu {
    border-bottom: 2px solid #000;
    @media screen and (min-width: 800px) {
        text-align: right;
    }
}

.logo {
    cursor: pointer;
    float: left;
    margin: 1.5% 0 1.5% 3%;
    width: 90px;

    @media screen and (min-width: 600px){
        width: 110px;
    }

    @media screen and (min-width: 1000px){
        width: 150px;
    }
}

.menu-icon {
    float: right;   
    margin: 2% 3%; 
    width: 50px;

    @media screen and (min-width: 600px){
        margin: 2% 5%; 
        width: 60px;
    }

    @media screen and (min-width: 800px){
        display: none;
    }
}

.main-menu {
    background-color: #fff;
    height: 100vh;
    left: 0;
    padding-top: 15%;
    position: relative;
    top: 0;    
    width: 75vw;
    z-index: 3;

    li {
        border-bottom: 1px solid #000;

        @media screen and (min-width: 800px) {
            border-bottom: none;
            display: inline-block;
            margin-right: 25px;
        }
    }

    li:first-child {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;

        a:first-child {
            padding-top: 10%;       
        }

        @media screen and (min-width: 800px) {
            border-bottom: none;
            border-top: none;
        }
    }

    a {
        display: block;
        padding-bottom: 10%; 
        padding-left: 4%;

        @media screen and (min-width: 800px) {
            padding-bottom: 0;
            padding-top: 35px;
        }

        @media screen and (min-width: 1000px) {
            padding-top: 50px;
        }

        @media screen and (min-width: 1600px) {
            padding-top: 60px;
        }
    }

    @media screen and (min-width: 800px) {
        background-color: transparent;
        display: inline-block;
        height: auto;
        padding-top: 0; 
        position: initial;
        text-align: right;
        width: auto;
    }

}

.menu {
    li {
        margin-bottom: 30px;
    }

    li:last-child{
        margin-bottom: 0;
    }
    @media screen and (min-width: 800px) {
        padding-right: 50px;
    } 
}