.sm-menu {
    border-bottom: 2px solid #000;
}

.logo {
    cursor: pointer;
    float: left;
    margin: 1.5% 0 1.5% 3%;
    width: 90px;

    @media screen and (min-width: 600px){
        width: 110px;
    }

    @media screen and (min-width: 1000px){
        width: 150px;
    }
}

.menu-icon {
    float: right;   
    margin: 2% 3%; 
    width: 50px;

    @media screen and (min-width: 600px){
        margin: 2% 5%; 
        width: 60px;
    }

    @media screen and (min-width: 800px){
        display: none;
    }
}

.main-menu {
    background-color: #fff;
    height: 100vh;
    left: 0;
    padding-top: 15%;
    position: relative;
    top: 0;    
    width: 75vw;
    z-index: 3;

    li {
        border-bottom: 1px solid #000;
    }

    li:first-child {
        border-bottom: 1px solid #000;
        border-top: 1px solid #000;

        a:first-child {
            padding-top: 10%;       
        }
    }

    a {
        display: block;
        padding-bottom: 10%; 
        padding-left: 4%;
    }

}

.menu {
    li {
        margin-bottom: 30px;
    }

    li:last-child{
        margin-bottom: 0;
    }
}