article {
    margin-bottom: 15px;

    & > div {
        vertical-align: top;
    }

    img{
        width: 100%;
    }

    @media screen and (min-width:700px) {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 30px;
        width: 50%;
    }

    @media screen and (min-width:1350px) {
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 0;
        width: 33%;
    }
}

.related {
    margin: 35px 0;
    
    .title {
        color: #000;
        font-size: 14px;
    }

    .more {
        display: block;
        padding-top: 10px;
    }
}

.more-container {
    padding-left: 2%;
}