h1,
h2,
h3,
h4 {
    font-family: $main-font;
}

p,
a {
    font-family: $secondary-font;
}

h1 {
    font-size: 30px;
}

h2 {
    margin-bottom: 7px;
}

h3 {
    font-size: 23px;
    margin-bottom: 5px;    
}

a {
    color: #42BAB6;
}